.MuiPaginationItem-page {
  color: white !important;
}

.MuiPaginationItem-iconButton {
  color: #ffc038 !important;
}

.MuiPaginationItem-ellipsis {
  color: white !important;
}
.MuiPaginationItem-selected {
  background-color: #ffc038 !important;
  color: black !important;
}
